<div class="row">
    <div class="col-md-12">
        <div class="card alert-primary">
            <div class="card-header alert-primary">Publikace</div>
            {% if articles | length %}
                <div class="card-body text-center text-dark"  style="padding: 0;">
                    <table class="table stripped table-sm" id="table" style="margin: 0;">
                        <thead class="thead-light">
                        <tr>
                            <th class="col-sm-9 text-left" style="padding-left: 20px">Článek</th>
                            <th class="col-sm-3">Možnosti</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for article in articles %}
                            <tr onmouseenter="setTableHover()" onmouseleave="resetTableHover()">
                                <td class="text-left" style="padding-left: 20px">{{ article.title }}</td>
                                <td>
                                    <div class="btn-group d-flex">
                                        <a class="btn btn-sm btn-warning w-100"
                                           href="?route={{ route }}&action=download&id={{ article.id }}"><i class="fas fa-download"></i> Stáhnout</a>
                                        <a class="btn btn-sm btn-success w-100" onclick="toggleDetail({{ article.id }})" href="#"><i class="fas fa-glasses"></i> Detail</a>
                                    </div>
                                </td>
                            </tr>
                            <tr style="display:none;" id="detail-{{ article.id }}">
                                <td colspan="3">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="card alert-info">
                                                    <div class="card-header alert-info">Abstrakt</div>
                                                    <div class="card-body text-center text-dark">
                                                        {{ article.abstract }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="row mt-3">
                                            {% for review in article.finishedReviews %}
                                                {% set reviewCount = article.finishedReviews | length %}
                                                <div class="col-sm-{{ 12 // (reviewCount == 0 ? 1 : reviewCount) }}" style="height: 100%;">
                                                    <div class="card alert-info">
                                                        <div class="card-header alert-info">Review #{{ review.id }}</div>
                                                        <div class="card-body text-center text-dark">
                                                            <p>
                                                                {{ review.content }}
                                                            </p>
                                                            Relevance:
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-striped progress-bar-animated"
                                                                     style="width: {{ review.relevance * 20 }}%;"></div>
                                                            </div>

                                                            Gramatika, styl:
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-striped progress-bar-animated"
                                                                     style="width: {{ review.grammar * 20 }}%;"></div>
                                                            </div>

                                                            Faktická správnost:
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-striped progress-bar-animated"
                                                                     style="width: {{ review.correctness * 20 }}%;"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="card-body text-center text-dark">
                    <h2>Kde nic tu nic...</h2>
                    <span id="propose-suggestion-link"></span>
                </div>
             {% endif %}
        </div>
    </div>
</div>

<script>
    function toggleDetail(articleId) {
        const detailBox = $('#detail-'+articleId);
        detailBox.toggle();
    }

    function setTableHover() {
        $("#table").addClass("table-hover")
    }

    function resetTableHover() {
        $("#table").removeClass("table-hover")
    }
</script>

<style>
    body {
        background: url('app/view/templates/resources/books.jpg') no-repeat center fixed;
    }
</style>