<div class="row" id="messages"></div>
<div class="row">
    <div class="col-md-4">
        <div class="card alert-primary" id="form-card">
            <div class="card-header alert-primary" id="form-card-header">Přidat oprávnění</div>
            <div class="card-body">
                <form action="?route={{ route }}&action=add" method="post" class="text-center">
                    <div class="form-group">
                        <input required maxlength="64" minlength="1" type="text" class="form-control" name="role" placeholder="Role" id="role-text">
                    </div>
                    <div class="form-group">
                        <input required maxlength="64" minlength="1" type="text" class="form-control" name="route" placeholder="Trasa" id="route-text">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="action" placeholder="Akce" id="action-text">
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="id" id="id-input" value="">
                    </div>
                    <input type="submit" class="btn btn-primary btn-block" value="Přidat" id="edit-btn">
                    <input type="hidden" class="btn btn-primary btn-block" value="Zrušit" id="stop-edit-btn" onclick="stopEdit()">
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card alert-primary">
            <div class="card-header alert-primary">Tabulka oprávnění</div>
            <div class="card-body text-center text-dark" style="padding: 0">
                <table class="table stripped table-sm table-striped table-hover" style="margin:0">
                    <thead class="thead-light">
                    <tr>
                        <th class="col-md-3">Trasa</th>
                        <th class="col-md-3">Akce</th>
                        <th class="col-md-3">Role</th>
                        <th class="col-md-3">Možnosti</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for acl in acls %}
                            <tr id="row{{ acl.id }}">
                                <td>
                                    {{ acl.route }}
                                </td>
                                <td>
                                    {{ acl.action }}
                                </td>
                                <td>
                                    {{ acl.role }}
                                </td>
                                <td class="">
                                    <div class="btn-group d-flex">
                                    <button class="btn btn-primary btn-sm w-100" onclick="copy(
                                        '{{ acl.role }}',
                                        '{{ acl.route }}',
                                        '{{ acl.action }}'
                                    )">Kopírovat</button>
                                    <button class="btn btn-warning btn-sm w-100" id="edit{{ acl.id }}" onclick="edit(
                                        '{{ acl.role }}',
                                        '{{ acl.route }}',
                                        '{{ acl.action }}',
                                        '{{ acl.id }}'
                                    )">
                                        Editovat
                                    </button>
                                    <button class="btn btn-danger btn-sm w-100" id="del{{ acl.id }}" onclick="remove('{{ acl.id }}')">
                                        Smazat
                                    </button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    function edit(role, route, action, id) {
        setForm(role, route, action);
        document.getElementById('id-input').value = id;
        setFormMode();
    }

    function copy(role, route, action) {
        setForm(role, route, action);
        document.getElementById('id-input').value = '';
        setFormMode();
    }

    function stopEdit() {
        document.getElementById('id-input').value = '';
        setFormMode();
    }

    function setFormMode() {
        const idInput = document.getElementById('id-input');
        const editBtn = document.getElementById('edit-btn');
        const card = document.getElementById('form-card');
        const cardheader = document.getElementById('form-card-header');
        const stopEditBtn = document.getElementById('stop-edit-btn');

        if (idInput.value === ''){
            editBtn.value = 'Přidat';
            cardheader.innerHTML = 'Přidat oprávnění';
            stopEditBtn.setAttribute('type', 'hidden');
            classReplace(editBtn, 'btn-warning', 'btn-primary');
            classReplace(card, 'alert-warning', 'alert-primary');
            classReplace(cardheader, 'alert-warning', 'alert-primary');
            return;
        }
        editBtn.value = 'Editovat';
        cardheader.innerHTML = 'Editovat oprávnění';
        stopEditBtn.setAttribute('type', 'button');
        classReplace(editBtn, 'btn-primary', 'btn-warning');
        classReplace(card, 'alert-primary', 'alert-warning');
        classReplace(cardheader, 'alert-primary', 'alert-warning');
    }

    function classReplace(item, class1, class2) {
        item.classList.remove(class1);
        item.classList.add(class2);
    }

    function setForm(role, route, action) {
        document.getElementById('role-text').value = role;
        document.getElementById('route-text').value = route;
        document.getElementById('action-text').value = action;
    }

    function remove(id) {
        const xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function(){
            document.getElementById('messages').innerHTML = (this.response);
            document.getElementById('del'+id).disabled = true;
            document.getElementById('edit'+id).disabled = true;
            document.getElementById('row'+id).classList.add('bg-light', 'text-muted');
        };
        xmlhttp.open("POST", "?route=editacl&action=delete", true);
        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xmlhttp.dataType = "html";
        xmlhttp.send("ajax_call=true&id="+id);
    }

</script>

<style>
    body {
        background: url('app/view/templates/resources/arrow.jpg') no-repeat center fixed;
    }
</style>