<style>
    body {
        background: url('app/view/templates/resources/desert.jpeg') no-repeat center fixed;
    }

    #header404{
        font-size: 64px;
        font-family: "Impact", sans-serif;
        text-shadow: lightblue 0 0 35px;
        position: relative;
        top: 15vh;

    }
</style>

<h1 id="header404">ERR: 404 – Ztratil jsi se?</h1>


