
{% for action in actions %}
    <div class="col-md-12 ">
        <div class="alert alert-{{ action.getSeverity }} fade show">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ action.getMessage }}
        </div>
    </div>
{% endfor %}
