<div class="row">
    <div class="col-md-12">
        <div class="card alert-primary">
            <div class="card-header alert-primary">Moje články</div>
            {% if articles | length %}
                <div class="card-body text-center text-dark"  style="padding: 0;">
                    <table class="table stripped table-sm" id="table" style="margin: 0;">
                        <thead class="thead-light">
                        <tr>
                            <th class="col-sm-7 text-left" style="padding-left: 20px">Článek</th>
                            <th class="col-sm-1">Stav</th>
                            <th class="col-sm-4">Možnosti</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for article in articles %}
                            <tr class="{{ article.accepted ? 'table-success' : article.denied ? 'table-danger'}}" 
                                onmouseenter="setTableHover()" onmouseleave="resetTableHover()">
                                <td class="text-left" style="padding-left: 20px">{{ article.title }}</td>
                                <td>
                                    {{ article.accepted ? '<i class="far fa-thumbs-up"></i>' : article.denied ? '<i class="fas fa-poo"></i>' : '<i class="fas fa-ellipsis-h"></i>'}}
                                </td>
                                <td>
                                    <div class="btn-group d-flex">
                                        <a class="btn btn-sm btn-primary w-100" onclick="toggleReviews('{{ article.id }}')" href="#"><i class="fas fa-file-alt"></i> Recenze</a>
                                        <a class="btn btn-sm btn-info w-100" href="?route={{ route }}&action=download&id={{ article.id }}"><i class="fas fa-download"></i> Stáhnout</a>
                                        <a class="btn btn-sm btn-warning w-100"
                                           onclick="showEdit('{{ article.id }}', '{{ article.title }}', '{{ article.abstract }}')">
                                            <i class="fas fa-edit"></i> Editovat</a>
                                        <a class="btn btn-sm btn-danger w-100" href="?route={{ route }}&action=delete&id={{ article.id }}"><i class="fas fa-trash-alt"></i> Smazat</a>
                                    </div>
                                </td>
                            </tr>
                            <tr style="display:none;" id="reviews-{{ article.id }}">
                                <td colspan="3">
                                    <div class="container">
                                    {% if article.finishedReviews | length > 0%}
                                        <div class="row">
                                        {% for review in article.finishedReviews %}
                                        {% set reviewCount = article.finishedReviews | length %}
                                            <div class="col-sm-{{ 12 // (reviewCount == 0 ? 1 : reviewCount) }}" style="height: 100%;">
                                            <div class="card alert-primary">
                                                <div class="card-header alert-primary">Review #{{ review.id }}</div>
                                                <div class="card-body text-center text-dark">
                                                    <p>
                                                        {{ review.content }}
                                                    </p>
                                                        Relevance:
                                                        <div class="progress">
                                                            <div class="progress-bar progress-bar-striped progress-bar-animated"
                                                                 style="width: {{ review.relevance * 20 }}%;"></div>
                                                        </div>

                                                        Gramatika, styl:
                                                        <div class="progress">
                                                            <div class="progress-bar progress-bar-striped progress-bar-animated"
                                                                 style="width: {{ review.grammar * 20 }}%;"></div>
                                                        </div>

                                                        Faktická správnost:
                                                        <div class="progress">
                                                            <div class="progress-bar progress-bar-striped progress-bar-animated"
                                                                 style="width: {{ review.correctness * 20 }}%;"></div>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    </div>
                                    {% else %}
                                        <div class="row text-center">
                                            <div class="col-sm-12">
                                                <h2>Článek zatím nebyl recenzován.</h2>
                                            </div>
                                        </div>
                                    {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="card-body text-center text-dark">
                    <h2>Žádný článek jste zatím nepublikoval!</h2>
                    <span id="propose-suggestion-link"></span>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header alert-warning">
                Editovat článek
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form enctype="multipart/form-data" action="?route={{ route }}&action=edit" method="post" class="text-center" id="edit-form">
                    <input type="hidden" name="article-id" id="article-id-input">
                    <div class="form-group">
                        <input required maxlength="64" minlength="8" type="text" class="form-control" name="title" id="title-input" placeholder="Název">
                    </div>
                    <div class="form-group">
                        <textarea required maxlength="1024" minlength="64" rows="10" class="form-control" name="abstract" id="abstract-input" placeholder="Abstrakt"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="custom-file" id="pdf-loader" >
                            <input type="file" accept=".pdf,application/pdf" class="custom-file-input" name="pdf" id="pdf-input"/>
                            <label class="custom-file-label" id="pdf-label" for="pdf">Vyberte pdf soubor</label>
                        </div>
                    </div>
                    <hr>
                    <div class="btn-group d-flex" style="padding: 0">
                        <input type="submit" class="btn btn-primary w-100" value="Uložit">
                        <a href="#" class="btn btn-danger w-100" data-dismiss="modal">Zavřít</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<script>
    if ($('#propose-link').length > 0){
        $('#propose-suggestion-link')
            .html('...Ale to se dá rychle <a href="?route=propose">napravit</a> <i class="far fa-smile-wink"></i>')
    }

    $('#pdf').removeAttribute('required');

    function setTableHover() {
        $("#table").addClass("table-hover")
    }
    
    function resetTableHover() {
        $("#table").removeClass("table-hover")
    }

    function toggleReviews(articleId) {
        const reviewBox = $('#reviews-'+articleId);
        reviewBox.toggle();
    }

    function showEdit(articleId, title, abstract) {
        $('#editModal').modal('show');
        $('#title-input').attr('value', title);
        $('#abstract-input').html(abstract);
        $('#article-id-input').attr('value', articleId);
    }
</script>