<div class="row" id="messages">

</div>
<div class="row">
    <div class="col-md-12">
        <div class="card alert-primary">
            <div class="card-header alert-primary">Články v procesu schválení</div>
            <div class="card-body text-center text-dark"  style="padding-left: 0; padding-right: 0; padding-bottom: 0">
                <table class="table stripped table-sm table-striped table-hover" id="table">
                    <thead class="thead-light">
                    <tr>
                        <th class="">Článek</th>
                        <th class="">Autor</th>
                        <th class="">Recenzenti</th>
                        <th class="">Stav</th>
                        <th class="">Skóre</th>
                        <th class="col-sm-2">Možnosti</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for article in model %}
                        <tr id="table-row-"{{ article.id }}>
                            <td class="align-middle">{{ article.title }}</td>
                            <td class="align-middle">{{ article.user.name }} {{ article.user.surname }}</td>
                            <td class="align-middle">
                            {% for review in article.reviews %}
                                {{ review.reviewer.name }}
                                {{ review.reviewer.surname }}
                                <a href="?route={{ route }}&action=removeReview&reviewId={{ review.id }}" class="close">&times;</a>
                                <br>
                            {% endfor %}
                            {% if article.possibleReviewers | length > 0 %}
                                <div class="btn-group" id="dropdown-header-{{ reviewer.id }}-{{ article.id }}">
                                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Přidat recenzenta
                                    </button>
                                    <div class="dropdown-menu">
                                        {% for reviewer in article.possibleReviewers %}
                                            {% if reviewer.id != article.user.id %}
                                                <a class="dropdown-item" id="dropdown-{{ reviewer.id }}-{{ article.id }}"
                                                   href="?route={{ route }}&action=addReviewer&reviewerId={{ reviewer.id }}&articleId={{ article.id }}">
                                                    {{ reviewer.name }} {{ reviewer.surname }}
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            </td>
                            <td>
                                {% set finishedReviewsCount = 0 %}
                                {% for review in article.reviews %}
                                    {% if review.relevance is null or review.grammar is null or review.correctness is null %}
                                        <span class="btn-sm">Čeká na recenzi</span>
                                    {% else %}
                                        {% set finishedReviewsCount = finishedReviewsCount + 1 %}
                                        <a onclick="showRev(
                                            '{{ article.title }}',
                                            '{{ review.reviewer.name }} {{ review.reviewer.surname }}',
                                            '{{ review.content }}',
                                            '{{ review.relevance }}',
                                            '{{ review.grammar }}',
                                            '{{ review.correctness }}',
                                        )" href="#" class="btn-link">Zobrazit recenzi</a>
                                    {% endif %}
                                    <br>
                                {% endfor %}
                            </td>
                            <td class="align-middle">
                                {% set score = 0 %}
                                {% for review in article.reviews %}
                                    {% set score = score + review.relevance %}
                                    {% set score = score + review.grammar %}
                                    {% set score = score + review.correctness %}
                                {% endfor %}
                                {{ score }}
                            </td>
                            <td class="align-middle">
                                <div class="btn-group d-flex">
                                    <button {{ finishedReviewsCount < 3 ? 'disabled' }} class="btn btn-success btn-sm w-100" onclick="approve({{ article.id }})" id="approve-btn-{{ article.id }}">Přijmout</button>
                                    <button class="btn btn-danger btn-sm w-100" onclick="disapprove({{ article.id }})" id="disapprove-btn-{{ article.id }}">Zamítnout</button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{ source('review_modal.html') }}

<script>

    function showRev(article, author, content, relev, grammar, correct) {
        $('#review').modal('show');

        document.getElementById('modal-article-title').innerHTML = article;
        document.getElementById('modal-author').innerHTML = author;
        document.getElementById('modal-content').innerHTML = content;
        document.getElementById('modal-relev-bar').style.width = ratingToPercent(relev) + '%';
        document.getElementById('modal-grammar-bar').style.width = ratingToPercent(grammar) + '%';
        document.getElementById('modal-correct-bar').style.width = ratingToPercent(correct) + '%';

    }

    function ratingToPercent(rating) {
        return rating * 20
    }

    function approve(idArticle) {
        const xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function(){
            document.getElementById('messages').innerHTML = this.response;
            document.getElementById('approve-btn-'+idArticle).disabled = true;
        };
        xmlhttp.open("POST", "?route={{ route }}&action=approve", true);
        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xmlhttp.dataType = "html";
        xmlhttp.send("ajax_call=true&id="+idArticle);
    }

    function disapprove(idArticle) {
        const xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function(){
            document.getElementById('messages').innerHTML = this.response;
            document.getElementById('disapprove-btn-'+idArticle).disabled = true;
        };
        xmlhttp.open("POST", "?route={{ route }}&action=disapprove", true);
        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xmlhttp.dataType = "html";
        xmlhttp.send("ajax_call=true&id="+idArticle);
    }

    $(document).ready(function() {
        $('#table').DataTable( {
            "language": {
                "lengthMenu": "Zobrazit _MENU_ položek",
                "zeroRecords": "Žádné záznamy nenalezeny.",
                "info": "Stránka _PAGE_ z _PAGES_",
                "infoEmpty": "Žádné záznamy nenalezeny.",
                "infoFiltered": "(filtered from _MAX_ total records)",
                "search": "Filtrovat: ",
                "paginate": {
                    "first":      "První",
                    "last":       "Poslední",
                    "next":       "Další",
                    "previous":   "Předchozí"
                },
            }
        } );
    } );
</script>

<style>
    body {
        background: url('app/view/templates/resources/idea.jpg') no-repeat center fixed;
    }
</style>