<div class="row">
    <div class="col-md-12">
        <div class="card alert-primary">
            <div class="card-header alert-primary">Poslat návrh článku</div>
            <div class="card-body">
                    {% include 'propose_form_inner.html' %}
            </div>
        </div>
    </div>
</div>

<!-- JS bullshittery and CSS hacks start here  -->

<style>
    body {
        background: url('app/view/templates/resources/paper.jpg') no-repeat center fixed;
    }
    #pdf-label {
        color: #6c757d;
    }
</style>

