<form enctype="multipart/form-data" action="?route={{ route }}&action={{ formAction }}" method="post" class="text-center" id="propose_form">
    <div class="form-group">
        <input required maxlength="64" minlength="8" type="text" class="form-control" name="title" id="title" placeholder="Název">
    </div>
    <div class="form-group">
        <textarea required maxlength="1024" minlength="64" rows="10" class="form-control" name="abstract" id="abstract" placeholder="Abstrakt"></textarea>
        <div class="text-right" id="count"></div>
    </div>
    <div class="form-group">
        <div class="custom-file" id="pdf-loader" >
            <input required type="file" accept=".pdf,application/pdf" class="custom-file-input" name="pdf" id="pdf"/>
            <label class="custom-file-label" id="pdf-label" for="pdf">Vyberte pdf soubor</label>
        </div>
    </div>
    <div class="btn-group d-flex">
        <input type="submit" class="btn btn-primary w-100" value="Potvrdit">
        <a href="?route=propose" class="btn btn-danger w-100">Smazat</a>
    </div>
</form>

<script type="application/javascript">
    // first-time coding in JS - now I hate it even more...
    // ...And I didn't think that's even possible
    const label = document.getElementById("pdf-label");
    const abstract = document.getElementById('abstract');
    const clearBtn = document.getElementById('clear_btn');
    const propForm = document.getElementById('propose_form');

    document.getElementById("pdf").onchange = function() {
        this.classList.add("is-invalid");
        if(this.files[0].size >= 2097152){
            label.innerHTML = "Soubor je příliš velký, maximální velikost je 2MiB.";
            this.setCustomValidity("Maximální velikost souboru je 2MiB.");
            return;
        } else if (!this.files[0].name.endsWith(".pdf")){
            label.innerHTML = "Musíte vybrat pdf soubor.";
            this.setCustomValidity("Akceptovány jsou pouze pdf soubory.");
            return;
        }
        label.innerHTML = this.files[0].name;
        this.setCustomValidity("");
        this.classList.remove("is-invalid");
    };

    abstract.onkeyup = updateCharCounter;

    clearBtn.onclick = function () {
        propForm.reset();
        updateCharCounter();
        label.innerHTML = 'Vyberte pdf soubor';
    };

    clearBtn.setAttribute("type", "");
    updateCharCounter();

    function updateCharCounter() {
        document.getElementById('count').innerHTML = abstract.value.length + '/' + abstract.getAttribute("maxlength");
    }
</script>