<div class="row" id="messages">

</div>
<div class="row">
    <div class="col-md-12">
        <div class="card alert-primary">
            <div class="card-header alert-primary">Články k recenzi</div>
            {% if reviews | length %}
                <div class="card-body text-center text-dark"  style="padding: 0;">
                    <table class="table stripped table-sm table-striped table-hover" id="table">
                        <thead class="thead-light">
                        <tr>
                            <th class="col-sm-2">Článek</th>
                            <th class="col-sm-8">Abstrakt</th>
                            <th class="col-sm-2">Možnosti</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for review in reviews %}
                            <tr>
                            <td>{{ review.article.title }}</td>
                                <td>{{ review.article.abstract }}</td>
                                <td>
                                    <div class="btn-group d-flex">
                                        <a class="btn btn-success btn-sm w-100"
                                           href="?route={{ route }}&action=download&id={{ review.article.id }}">Stáhnout</a>
                                        <button class="btn btn-{{ review.empty ? 'primary' : 'warning' }} btn-sm w-100"
                                                onclick="review(
                                                    '{{ review.article.title }}',
                                                    '{{ review.id }}',
                                                    '{{ review.content }}',
                                                    '{{ review.relevance }}',
                                                    '{{ review.grammar }}',
                                                    '{{ review.correctness }}',
                                        )">{{ review.empty ? 'Recenzovat' : 'Editovat' }}</button>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="card-body text-center text-dark">
                    <h2>Nemáte žádný článek k recenzi! <i class="fas fa-beer"></i></h2>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="modal" id="review">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header alert-primary">
                <div class="modal-title" id="modal-review-title"></div>
            </div>
            <form id="review-form" action="?route={{ route }}&action=save" method="post">
                <div class="modal-body">
                    <input type="hidden" id="review-id-input" name="review-id">
                    <div class="form-group">
                        <textarea required maxlength="1024" rows="10" class="form-control" name="review-content" placeholder="Rencenze" id="content-input"></textarea>
                        <div class="text-right" id="count"></div>
                    </div>
                    <div class="form-group">
                        <select name="relevance" class="custom-select" id="relevance-input">
                            <option selected value="0">Relevance</option>
                            <option value="1">1 - nejhorší</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5 - nejlepší</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="grammar" class="custom-select" id="grammar-input">
                            <option selected value="0">Gramatika, styl</option>
                            <option value="1">1 - nejhorší</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5 - nejlepší</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="correctness" class="custom-select" id="correctness-input">
                            <option selected value="0">Faktická správnost</option>
                            <option value="1">1 - nejhorší</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5 - nejlepší</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn-group d-flex" style="width:100%">
                        <input type="submit" class="btn btn-primary w-100" value="Odeslat">
                        <input type="submit" class="btn btn-danger w-100" value="Zahodit"  data-dismiss="modal">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    function review(title, id, content, relev, grammar, correctness){

        $('#review').modal({
            backdrop: 'static',
        },'show');

        document.getElementById('modal-review-title').innerHTML = title;
        document.getElementById('review-id-input').value = id;
        document.getElementById('relevance-input').value = relev ? relev : 0;
        document.getElementById('grammar-input').value = grammar ? grammar : 0;
        document.getElementById('correctness-input').value = correctness ? correctness : 0;
        document.getElementById('content-input').value = content ? content : null;

    }

</script>

<style>
    body {
        background: url('app/view/templates/resources/review.jpg') no-repeat center fixed;
    }
</style>