
<div class="modal" id="review">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header alert-primary">
                <div class="modal-title" id="modal-article-title"></div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <p id="modal-content"></p>
                <div>
                    Relevance:
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" id="modal-relev-bar"></div>
                    </div>
                </div>
                <div>
                    Gramatika, styl:
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" id="modal-grammar-bar"></div>
                    </div>
                </div>
                <div>
                    Faktická správnost:
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" id="modal-correct-bar"></div>
                    </div>
                </div>
            </div>

            <div class="modal-footer" id="modal-author"></div>
        </div>
    </div>
</div>