<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card alert-primary">
            <div class="card-header alert-primary">Přihlásit se</div>
            <div class="card-body">
                <form action="?route={{ route }}&action=signIn" method="post" class="text-center">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend">@</span>
                            </div>
                            <input required type="email" class="form-control" name="mail" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <input required type="password" class="form-control" name="passwd" placeholder="Heslo">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block my-4">přihlásit</button>
                    <div class="text-dark">Nemáš účet? <a href="?route=signup" class="card-link">Zaregistruj se</a></div>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        height: 100vh;
        background: url('app/view/templates/resources/lock.jpg') no-repeat center fixed;
    }
</style>