<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card alert-primary">
            <div class="card-header alert-primary">Zaregistrovat</div>
            <div class="card-body text-dark">
                <form action="?route={{ route }}&action=signUp" method="post" class="text-center">
                    <div class="form-group">
                        <input required type="text" class="form-control" name="name" placeholder="Jméno">
                    </div>
                    <div class="form-group">
                        <input required type="text" class="form-control" name="surname" placeholder="Příjmení">
                    </div>
                    <div class="form-group">
                        <input required type="email" class="form-control" name="mail" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input required type="password" class="form-control" minlength="8" name="passwd" placeholder="Heslo"
                               onchange="if(this.checkValidity()) form.passwdrep.pattern = this.value;">
                    </div>
                    <div class="form-group">
                        <input required type="password" class="form-control" name="passwdrep" placeholder="Heslo znovu"
                               onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Hesla musí být stejná' : '');">
                    </div>
                    <div class="form-group custom-control custom-checkbox">
                        <input required type="checkbox" class="custom-control-input" id="customCheck" name="acceptcond">
                        <label class="custom-control-label" for="customCheck">Souhlasím s podmínkami</label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block my-4">Zaregistrovat</button>
                    <div>Už jsi zaregistrovaný? <a href="?route=signin" class="card-link">Přihlaš se</a></div>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        background: url('app/view/templates/resources/lock.jpg') no-repeat center fixed;
    }
</style>
