<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <title>Konferenční systém</title>
    <style>
        .card{
            background-color: rgba(253, 253, 253, 0.9);
        }

        html{
            height: 100vh;
        }

        body {
            min-height: 100vh;
            background-size: cover !important;
        }

        .main-content{
            min-height: 100vh;
            padding-bottom: 75px;
        }

        footer{
            width: 100%;
            margin-top: -56px;
        }
    </style>
</head>
<body>
    <div class="main-content">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            {% if acl.isAllowed(role.getId, 'index') %}
                <a class="navbar-brand" href="?route=index">WK</a>
            {% endif %}
            <ul class="navbar-nav">
                {% if acl.isAllowed(role.id, 'viewOwn') %}
                <li class="nav-item">
                    <a class="nav-link" href="?route=viewOwn"><i class="far fa-newspaper"></i> Publikace</a>
                </li>
                {% endif %}
                {% if acl.isAllowed(role.getId, 'review') %}
                <li class="nav-item">
                    <a class="nav-link" href="?route=review"><i class="far fa-eye"></i> Recenze</a>
                </li>
                {% endif %}
                {% if acl.isAllowed(role.getId, 'proposals') %}
                <li class="nav-item">
                    <a class="nav-link" href="?route=proposals"><i class="far fa-lightbulb"></i> Návrhy</a>
                </li>
                {% endif %}
                {% if acl.isAllowed(role.getId, 'propose', 'propose') %}
                    <li class="nav-item {{ route == 'propose' ? 'active' }}">
                        <a class="nav-link" href="?route=propose" id="propose-link">
                            <i class="far fa-envelope"></i> Nový
                        </a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if acl.isAllowed(role.getId, 'signup') %}
                    <li class="nav-item {{ route == 'signup' ? 'active' }}">
                        <a class="nav-link" href="?route=signup">
                            <i class="fas fa-user-plus"></i>
                            Registrovat
                        </a>
                    </li>
                {% endif %}
                {% if acl.isAllowed(role.getId, 'signin') %}
                    <li class="nav-item {{ route == 'signin' ? 'active' }}">
                        <a class="nav-link" href="?route=signin">
                            <i class="fas fa-sign-in-alt"></i> Přihlásit
                        </a>
                    </li>
                {% endif %}
                {% if acl.isAllowed(role.getId, 'manageUsers') %}
                    <li class="nav-item  {{ route == 'manageUsers' ? 'active' }}">
                        <a class="nav-link" href="?route=manageUsers">
                            <i class="fas fa-users-cog"></i> Uživatelé
                        </a>
                    </li>
                {% endif %}
                {% if acl.isAllowed(role.getId, 'editacl') %}
                    <li class="nav-item  {{ route == 'editacl' ? 'active' }}">
                        <a class="nav-link" href="?route=editacl">
                            <i class="fas fa-user-lock"></i> Oprávnění
                        </a>
                    </li>
                {% endif %}
                {% if acl.isAllowed(role.getId, 'signin', 'finishSession') %}
                    <li class="nav-item">
                        <a class="nav-link" href="?route=signin&action=finishSession">
                            <i class="fas fa-sign-out-alt"></i> Odhlásit {{ user.name }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>

        <br/>

        <div class="container">
            <div class="row">
                {{ errs | raw }}
            </div>
            {{ center | raw }}
        </div>
    </div>
    <footer class="page-footer font-small bg-dark" >
        <div class="footer-copyright text-center text-white-50 py-3">© 2018 Copyright:
            Martin Procházka
        </div>
    </footer>

</body>
</html>