<div class="row" id="messages"></div>
<div class="row">
    <div class="col-md-12">
        <div class="card alert-primary">
            <div class="card-header alert-primary">Uživatelé</div>
            <div class="card-body text-center text-dark" style="padding: 0">
                <table class="table stripped table-sm table-striped table-hover" style="margin:0">
                    <thead class="thead-light">
                    <tr>
                        <th class="col-md-3">Jméno</th>
                        <th class="col-md-4">Email</th>
                        <th class="col-md-2">Role</th>
                        <th class="col-md-1">Aktivní</th>
                        <th class="col-md-2">Možnosti</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr id="row{{ user.id }}">
                            <td>
                                {{ user.name }} {{ user.surname }}
                            </td>
                            <td>
                                {{ user.mail }}
                            </td>
                            <td>
                                    <select name="cars" class="custom-select" title="Původní role: {{ user.role }}">
                                        {% for role in roles %}
                                            <option
                                                {% if role.string == user.role %}
                                                    selected
                                                {% endif %}
                                                value="{{ role.string }}"
                                                onclick="editRole({{ user.id }}, {{ role.id }})"
                                            >{{ role.string }}</option>
                                        {% endfor %}
                                    </select>
                            </td>
                            <td>
                                <i class="far
                                {{ user.enabled ? 'fa-check-circle' : 'fa-times-circle' }}
                                "></i>
                            </td>
                            <td class="">
                                {% if user.enabled %}
                                    <a class="btn btn-danger w-75 btn-sm"
                                       href="?route={{ route }}&action=disable&id={{ user.id }}">
                                        Deaktivovat
                                    </a>
                                {% else %}
                                    <a class="btn btn-success w-75 btn-sm"
                                       href="?route={{ route }}&action=enable&id={{ user.id }}">
                                        Aktivovat
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    function editRole(userId, roleId){
        const xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function(){
            document.getElementById('messages').innerHTML = (this.response);
        };
        xmlhttp.open("POST", "?route={{ route }}&action=setRole", true);
        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xmlhttp.dataType = "html";
        xmlhttp.send("ajax_call=true&userId="+userId+"&roleId="+roleId);
    }
</script>


<style>
    body {
        background: url('app/view/templates/resources/users.jpg') no-repeat center fixed;
    }
</style>